<div class="row margin-left-1">
  <div class='col-md-9 center'>
    <div>TraderPlatform provides ability to easily create trading models.</div>

  </div>



    <div class="aboutus col-md-3">
      <div>
        <a href="http://nohost"><h4>Greg</h4>
          <div>
            <!--<img class="aboutus-img" src="https://avatars3.githubusercontent.com/u/9015412?v=3&s=400">-->
          </div>
        </a>
      </div>
    </div>

    <div class="aboutus col-md-3">
      <div><a href="http://garygz.github.io//"><h4>Gary Ginzburg</h4>
            <div>
              <img class="aboutus-img center" src="http://garygz.github.io/img/my-profile-photo.jpg">
            </div>
      </a></div>
    </div>
  </div>


</div>
